# Reporte de Estado de Servicios - {{ ansible_date_time.date }}
{% for host in ansible_play_hosts_all %}

## ➞ Servidor: {{ hostvars[host].inventory_hostname }}

| Servicio | Estado | Habilitado al Iniciar |
|----------|--------|-----------------------|
{%   for servicio in servicios_a_revisar %}
{%     if servicio in hostvars[host].ansible_facts.services %}
{%       set srv = hostvars[host].ansible_facts.services[servicio] %}
| `{{ srv.name }}` | {{ '✅ Corriendo' if srv.state == 'running' else '❌ Detenido' }} | {{ '✅ Sí' if srv.status == 'enabled' else 'ℹ️ No' }} |
{%     else %}
| `{{ servicio }}` | ❌ No Encontrado | --- |
{%     endif %}
{%   endfor %}
{% endfor %}
